{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About me</h1>
                <p>Hi, my name is yaji, nice to meet you.</p>
            </div>
        </div>
    </div>
{{end}}
