{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About me</h1>
                <p>Hi, my name is yaji, nice to meet you.</p>
                <hr>
                <p>This message came from the template data :</p>
                <p>{{index .StringMap "test"}}</p>
                <hr>
                <a href="/">Back To Home</a>
            </div>
        </div>
    </div>
{{end}}
