{{template "base" .}}
{{define "content"}}
    <div class="container" style="margin: 0 auto;text-align: center">
        <h1 >Welcome to Golang Paradise</h1>
        <hr>
        <p>Golang is quite fun</p>
        <a href="/about">About Me</a>
    </div>
{{end}}
