{{template "base" .}}
{{define "content"}}
    <div class="container" style="margin: 0 auto;text-align: center">
        <h1 >Welcome to Golang Paradise</h1>
        <hr>
        <p>18xxx</p>
        <button class="btn btn-primary">XXXX</button>
    </div>
{{end}}
